/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */

.hero {
  position: relative;
  max-width: 100vw !important;
  background-color: var(--color-primario);
  color: var(--color-blanco);
  padding: 8rem 2rem;
  text-align: center;
  margin-bottom: 3rem;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 7rem;
  height: 7rem;
  background: url('../img/paw.png') no-repeat;
  background-size: contain;
  z-index: 1;
  pointer-events: none;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 1rem;
  width: 10rem;
  height: 10rem;
  background: url('../img/coffee.png') no-repeat;
  background-size: contain;
  opacity: 0.8;
  pointer-events: none;
  z-index: 1;
}


.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-style: italic;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--color-blanco);
}

.hero .btn {
  background-color: var(--color-secundario);
  color: var(--color-acento);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: var(--radio-borde);
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
}

.hero .btn:hover {
  background-color: var(--color-acento);
  color: var(--color-blanco);
}

/* --------------------------- Gatitos aleatorios --------------------------- */

.cat-r,
.cat-l {
  position: absolute;
  width: 10rem;
  height: auto;
  z-index: 2;
  pointer-events: none;
  user-select: none;
  opacity: 0.95;
}

.cat-r {
  top: .5rem;
  right: 1rem;
}

.cat-l {
  bottom: 0;
  left: 1rem;
}


/* Contenedor de botones en hero */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.hero .secondary {
  font-family: var(--fuente-principal);
  font-weight: 500;
}